
body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image:url(../body_bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container{
    /*border: 4px solid red;*/
    display:flex;
    flex-direction: column;
    padding: 20px 20px 10px 20px;
}

/*///////////////////HEADER PART/////////////////////*/
.homePage__header{
    /*border: 4px solid green;*/
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 10px 20px;
}

/*
.homePage__header_label{
    border: 1px solid rgb(145, 255, 0);
}

.homePage__header_search{
    border: 1px solid rgb(145, 255, 0);
}

.homePage__header_label{
    border: 1px solid rgb(145, 255, 0);
}
*/


/*logo*/
.homePage__header_label{
    display: flex;
}
.homePage__header_label img{
    width: 150px;
}

/*logo End*/



/*search bar*/
.homePage__header_search{
    padding-top: 35px;
}

.search input[type=text] {
    padding: 6px;
    font-size: 17px;
    border: none;
    width: 500px;
}

.search .search_container button {
    float: right;
    padding: 6px 10px;
    background: rgb(255, 139, 31);
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search .search_container button:hover {
    background: rgb(106, 57, 185);
    color: rgb(255, 139, 31);
}


/*search bar End*/


/*log in button*/
.logIn_button button{
    width: 100px;
    height: 100px;
    border-radius: 0 20px 20px 20px;
    font-size: 24px;
    background-color: #FF8B1F;
    cursor: pointer;
    border: none;
}

.logIn_button button:hover{
    background-color: rgb(106, 57, 185);
    color: #F8EDD1;
    border: 2px solid white;
}





/*log in button ENd*/


/*//////////Navigation button//////////*/

.homePage__nav{
    background-image:url(../homePage/sourse/navBar_bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 700px;
    /*border: 4px solid blue;*/
    display: flex;
}

.homePage__nav a{
    text-decoration: none;
    color: #ffff;
    float: left;
    text-align: center;
    padding: 12px 25px;
    font-size: 17px;
}


/*Navigation buttons animation*/
.homePage__nav_home, .homePage__nav_products, .homePage__nav_aboutUs, .homePage__nav_team, .homePage__nav_contacts{
    text-align: center;
    display:flex;
    flex-direction: row;
    border: 2px solid #FF8B1F;
    padding:6px;
    cursor: pointer;
    position:relative;
    overflow:hidden;
    background-color: #307CE6;
    margin: 10px;
    border-radius: 10px;
}

.homePage__nav_home:before, .homePage__nav_products:before, .homePage__nav_aboutUs:before, .homePage__nav_team:before, .homePage__nav_contacts:before{
    content: "";
    position: absolute;
    height: 150px;
    width: 50px;
    background : #F8EDD1;
    left: -55px;
    top: -40px;
    transform: rotate(37deg);
    transition: all .3s;
    opacity: 0.3;
}

.homePage__nav_home:hover, .homePage__nav_products:hover, .homePage__nav_aboutUs:hover, .homePage__nav_team:hover, .homePage__nav_contacts:hover{
    background-color: #FF8B1F;
    border: 2px solid #000000;
}


.homePage__nav_home:hover:before, .homePage__nav_products:hover:before, .homePage__nav_aboutUs:hover:before, .homePage__nav_team:hover:before, .homePage__nav_contacts:hover:before{
    left:80%;
}
/*Navigation buttons animation END*/

/*//////////////////////HEADER PART END////////////////////*/

