
/*//////////////////////////////////Main content///////////////////////////*/


.contacts__main_contactBox{
    width: 85%;
    background-image:url(../contacts/contact_form_bg.svg);
    background-size: cover;
    background-position: center;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 10px 15px rgb(255, 139, 31);
    margin-top:40px;
    margin-left: 40px;
    margin-bottom: 40px;
}

.contacts__main_contactBox .contactUs__main_contactBox_contactForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contacts__main_contactBox .contactUs__main_contactBox_contactForm .left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}
.contactUs__main_contactBox_contactForm .left-side::before{
    content: '';
    position: absolute;
    height: 90%;
    width: 3px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #ffffff;
}
.contactUs__main_contactBox_contactForm .left-side .details{
    margin: 14px;
    text-align: center;
}
.contactUs__main_contactBox_contactForm .left-side .details i{
    font-size: 30px;
    color: #F8EDD1;
    margin-bottom: 10px;
}


.contactUs__main_contactBox_contactForm .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
}
.contactUs__main_contactBox_contactForm .left-side .details .text-one,
.contactUs__main_contactBox_contactForm .left-side .details .text-two{
    font-size: 14px;
    color: #000000;
}

.contacts__main_contactBox .contactUs__main_contactBox_contactForm .right-side{
    width: 80%;
    margin-left: 75px;
}
.contactUs__main_contactBox_contactForm .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    color: #F8EDD1;
}

 p.some_text{
    color: #F8EDD1;
}

.right-side .input-box{
    height: 50px;
    width: 90%;
    margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}
.right-side .message-box{
    min-height: 110px;
}
.right-side .input-box textarea{
    padding-top: 6px;
}
.right-side .button{
    display: inline-block;
    margin-top: 12px;
}
.right-side .button input[type="button"]{
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #6A39B9;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button input[type="button"]:hover{
    background: #4f2c90;
    box-shadow: 0 10px 10px rgb(0, 0, 0);
    color:#FF8B1F;
}

@media (max-width: 950px) {
    .container{
        width: 90%;
        padding: 30px 40px 40px 35px ;
    }
    .container .content .right-side{
        width: 75%;
        margin-left: 55px;
    }
}
@media (max-width: 820px) {
    .container{
        margin: 40px 0;
        height: 100%;
    }
    .container .content{
        flex-direction: column-reverse;
    }
    .container .content .left-side{
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .container .content .left-side::before{
        display: none;
    }
    .container .content .right-side{
        width: 100%;
        margin-left: 0;
    }
}

/*//////////////////////////////////////// Maine END//////////////////////////////////////////////*/



