
/*/////////////////////////////////////////////////////////////////*/

/*About Us main*/
    /*bordering*/
        .team__main{
            /*border: 4px solid yellow;*/
            display:flex;
            justify-content: space-between;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .team__main_person {
            /*border: 4px solid red;*/
            display: flex;
        }

        .team__main_person_item{
            /*border: 2px solid #dddddd;*/
        }
    /*bordering End*/

            /*img centering*/
            .bob img, .kate img, .mia img, .tom img {
                min-height: 100%;
                min-width: 100%;
                position: absolute;
                top: 0;
                bottom: 0;
                left: -1px;
                right: 0;
                margin:;
            }
            /*img centering End*/

    /*team__main_person*/

        .view {
            width: 300px;
            height: 300px;
            margin: 10px;
            border: 10px solid rgb(255, 139, 31);
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            text-align: center;
            /*box-shadow: 1px 1px 2px #11913c;*/
            cursor: default;
        }
        .view .mask, .view .content {
            width: 300px;
            height: 300px;
            position: absolute;
            overflow: hidden;
            top: 0;
            left: -8px;
            /*border: 4px solid green;*/
        }


        .view h3 {
            text-transform: uppercase;
            color: #000000;
            text-align: center;
            position: relative;
            font-size: 30px;
            padding: 10px;
            margin: 10px 0 0 0;
        }
        .view p {
            font-family: Georgia, serif;
            font-style: italic;
            font-size: 14px;
            position: relative;
            color: rgb(21, 34, 219);
            padding: 10px 20px 20px;
            text-align: center;
        }
        .view a.info {
            display: inline-block;
            text-decoration: none;
            padding: 10px 34px;
            background: rgb(255, 139, 31);
            color: #000000;
            text-transform: uppercase;
            box-shadow: 0 0 3px #000;
        }
        .view a.info:hover {
            box-shadow: 0 5px 10px #000
        }

        .view-second img {
            transition: all 0.2s ease-in;
        }
        .view-second .mask {
            background-color: rgba(248, 237, 209, 0.7);
            width: 250px;
            padding: 40px;
            height: 300px;
            opacity: 0;
            transform: translate(280px, 190px) rotate(45deg);
            transition: all 0.5s ease-in-out;
        }
        .view-second h3 {
            border-bottom: 2px solid rgba(0, 0, 0, 0.664);
            margin: 20px 40px 0 40px;
            transform: translate(0px, -100px);
            transition: all 0.5s ease-in-out;
        }
        .view-second p {
            transform: translate(-310px, 50px);
            transition: all 0.5s ease-in-out;
        }
        .view-second a.info {
            transform: translate(0px, 180px);
            transition: all 0.6s 0.2s ease-in-out;
        }



        .view-second:hover .mask {
            opacity:1;
            transform: translate(-20px, -50px) rotate(45deg);
        }
        .view-second:hover h3 {
            transform: translate(0px,30px);
            transition-delay: 0.3s;
        }
        .view-second:hover p {
            transform: translate(0px,40px);
            transition-delay: 0.4s;
        }
        .view-second:hover a.info {
            transform: translate(0px,40px);
        }
    /*team__main_person End*/

/*About Us main End*/



/*Footer*/
.team__footer p{
    display: flex;
    color:#F8EDD1;
    /*border: 2px solid green;*/
    justify-content: center;
}

/*Footer End*/