

/*//////////////////Main part//////////////////////////*/

/*maine area*/
.product{
    border: 2px solid blue;
    display: flex;
}

    /*Side Bar*/
        .product__sideBar{
            border: 4px solid yellow;
        }
    /*Side Bar END*/


    /*Product Boxes*/
        .product__boxes{
            border: 4px solid orangered;
        }
    /*Product Boxes END*/

/*maine area END*/



/*Footer*/



/*Footer End*/