
body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    border: 4px solid red;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

/*///////////////////HEADER PART/////////////////////*/
.homePage__header{
    border: 4px solid green;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 10px 20px;
}

.homePage__header_label{
    border: 1px solid rgb(145, 255, 0);
}

.homePage__header_search{
    border: 1px solid rgb(145, 255, 0);
}

.homePage__header_label{
    border: 1px solid rgb(145, 255, 0);
}




/*//////////Navigation button//////////*/

.homePage__nav{
    background-image:url(../homePage/sourse/soundWave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*border: 4px solid blue;*/
    display: flex;
}

.homePage__nav a{
    text-decoration: none;
    color: #ffff;
    float: left;
    text-align: center;
    padding: 12px 25px;
    font-size: 17px;
}


/*Navigation buttons animation*/
.homePage__nav_home, .homePage__nav_products, .homePage__nav_aboutUs, .homePage__nav_team, .homePage__nav_contacts{
    text-align: center;
    display:flex;
    flex-direction: row;
    border: 2px solid #FF8B1F;
    padding:6px;
    cursor: pointer;
    position:relative;
    overflow:hidden;
    background-color: #307CE6;
    margin: 10px;
    border-radius: 10px;
}

.homePage__nav_home:before, .homePage__nav_products:before, .homePage__nav_aboutUs:before, .homePage__nav_team:before, .homePage__nav_contacts:before{
    content: "";
    position: absolute;
    height: 150px;
    width: 50px;
    background : #F8EDD1;
    left: -55px;
    top: -40px;
    transform: rotate(37deg);
    transition: all .3s;
    opacity: 0.3;
}

.homePage__nav_home:hover, .homePage__nav_products:hover, .homePage__nav_aboutUs:hover, .homePage__nav_team:hover, .homePage__nav_contacts:hover{
    background-color: #FF8B1F;
    border: 2px solid #000000;
}


.homePage__nav_home:hover:before, .homePage__nav_products:hover:before, .homePage__nav_aboutUs:hover:before, .homePage__nav_team:hover:before, .homePage__nav_contacts:hover:before{
    left:80%;
}



/*Navigation buttons animation END*/

/*//////////////////////HEADER PART END////////////////////*/



/*//////////////////////////////////////// Maine //////////////////////////////////////////////*/

/*Slider*/


/* Slider */

.homePage__slider_container{
    width:100%;
    height:500px;
    position:relative;
    overflow:hidden;
}
.homePage__slider_slides{
    width:400%;
    right:300%;
    height:100%;
    position:relative;
    animation:slide 40s infinite;
}
.slider_slides_gameImage{
    width:25%;
    height:100%;
    float:left;
    position:relative;
    z-index:1;
    overflow:hidden;
}
.slide img{
    width:100%;
    height:100%;
    position: center;
}
.slide img{
    width:100%;
    height:100%;
}
.image{
    width:100%;
    height:100%;
}
.image img{
    width:100%;
    height:100%;
}

/* Legend */
.slider_slides_gameImage-legend{
    border:500px solid transparent;
    border-left:800px solid rgba(52, 73, 94, .7);
    border-bottom:0;
    position:absolute;
    bottom:0;
}

/* Contents */
.slider_slides_gameImage-content{
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
}
.slider_slides_gameImage-content-txt{
    width:400px;
    height:150px;
    float:left;
    position:relative;
    top:300px;
    animation:content-s 7.5s infinite;
}
.slider_slides_gameImage-content-txt h1{
    font-family:Intro;
    font-size:24px;
    color:#fff;
    text-align:left;
    margin-left:30px;
    padding-bottom:10px;
}
.slider_slides_gameImage-content-txt h2{
    font-family:Quicksand;
    font-weight:normal;
    font-size:14px;
    font-style:italic;
    color:#fff;
    text-align:left;
    margin-left:30px;
}

/* Switch */
.switch{
    width:120px;
    height:10px;
    position:absolute;
    bottom:50px;
    z-index:99;
    left:30px;
}
.switch > ul{
    list-style:none;
}
.switch > ul > li{
    width:10px;
    height:10px;
    border-radius:50%;
    background:#333;
    float:left;
    margin-right:5px;
    cursor:pointer;
}
.switch ul{
    overflow:hidden;
}
.on{
    width:100%;
    height:100%;
    border-radius:50%;
    background:#f39c12;
    position:relative;
    animation:on 30s infinite;
}

/* Animation */
@-webkit-keyframes slide{
    0%,100%{
        margin-left:0%;
    }
    21%{
        margin-left:0%;
    }
    25%{
        margin-left:100%;
    }
    46%{
        margin-left:100%;
    }
    50%{
        margin-left:200%;
    }
    71%{
        margin-left:200%;
    }
    75%{
        margin-left:300%;
    }
    96%{
        margin-left:300%;
    }
}
@-moz-keyframes slide{
    0%,100%{
        margin-left:0%;
    }
    21%{
        margin-left:0%;
    }
    25%{
        margin-left:100%;
    }
    46%{
        margin-left:100%;
    }
    50%{
        margin-left:200%;
    }
    71%{
        margin-left:200%;
    }
    75%{
        margin-left:300%;
    }
    96%{
        margin-left:300%;
    }
}
@keyframes slide{
    0%,100%{
        margin-left:0%;
    }
    21%{
        margin-left:0%;
    }
    25%{
        margin-left:100%;
    }
    46%{
        margin-left:100%;
    }
    50%{
        margin-left:200%;
    }
    71%{
        margin-left:200%;
    }
    75%{
        margin-left:300%;
    }
    96%{
        margin-left:300%;
    }
}

@-webkit-keyframes content-s{
    0%{left:-420px;}
    10%{left:0px;}
    30%{left:0px;}
    40%{left:0px;}
    50%{left:0px;}
    60%{left:0px;}
    70%{left:0;}
    80%{left:-420px;}
    90%{left:-420px;}
    100%{left:-420px;}
}
@-moz-keyframes content-s{
    0%{left:-420px;}
    10%{left:0px;}
    30%{left:0px;}
    40%{left:0px;}
    50%{left:0px;}
    60%{left:0px;}
    70%{left:0;}
    80%{left:-420px;}
    90%{left:-420px;}
    100%{left:-420px;}
}
@keyframes content-s{
    0%{left:-420px;}
    10%{left:20px;}
    15%{left:0px;}
    30%{left:0px;}
    40%{left:0px;}
    50%{left:0px;}
    60%{left:0px;}
    70%{left:0;}
    80%{left:-420px;}
    90%{left:-420px;}
    100%{left:-420px;}
}

@-webkit-keyframes on{
    0%,100%{
        margin-left:0%;
    }
    21%{
        margin-left:0%;
    }
    25%{
        margin-left:15px;
    }
    46%{
        margin-left:15px;
    }
    50%{
        margin-left:30px;
    }
    71%{
        margin-left:30px;
    }
    75%{
        margin-left:45px;
    }
    96%{
        margin-left:45px;
    }
}

@-moz-keyframes on{
    0%,100%{
        margin-left:0%;
    }
    21%{
        margin-left:0%;
    }
    25%{
        margin-left:15px;
    }
    46%{
        margin-left:15px;
    }
    50%{
        margin-left:30px;
    }
    71%{
        margin-left:30px;
    }
    75%{
        margin-left:45px;
    }
    96%{
        margin-left:45px;
    }
}

@keyframes on{
    0%,100%{
        margin-left:0%;
    }
    21%{
        margin-left:0%;
    }
    25%{
        margin-left:15px;
    }
    46%{
        margin-left:15px;
    }
    50%{
        margin-left:30px;
    }
    71%{
        margin-left:30px;
    }
    75%{
        margin-left:45px;
    }
    96%{
        margin-left:45px;
    }
}




/*Slider END*/



/*Footer*/
.homePage__footer{
    border: 4px solid purple;
    display: flex;
    justify-content: space-between;
    padding:4px;
}

.homePage__footer_proguct1{
    border: 2px solid rgb(233, 38, 233);
}
.homePage__footer_proguct2{
    border: 2px solid rgb(233, 38, 233);
}
.homePage__footer_proguct3{
    border: 2px solid rgb(233, 38, 233);
}
.homePage__footer_proguct4{
    border: 2px solid rgb(233, 38, 233);
}
.homePage__footer_proguct5{
    border: 2px solid rgb(233, 38, 233);
}


