
body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    border: 4px solid red;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

/*HEADER */
.homePage__header{
    border: 4px solid green;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 10px 20px;
}

.homePage__header_lable{
    border: 1px solid rgb(145, 255, 0);
}

.homePage__header_shearch{
    border: 1px solid rgb(145, 255, 0);
}

.homePage__header_lable{
    border: 1px solid rgb(145, 255, 0);
}
/*HEADER END*/



/*Navigation */
.homePage__nav{
    border: 4px solid blue;
    padding-left: 24px;

}

.homePage__nav a{
    text-decoration: none;
    float: left;
    color: #e01313;
    text-align: center;
    padding: 12px 25px;
    font-size: 17px;
}

.homePage__nav a:hover {
    background-color: #ddd;
    color: black;
}

a.homePage__nav_home {
    background-color: #04AA6D;
    color: white;
}

a.homePage__nav_products {
    background-color: #04AA6D;
    color: white;
}

a.homePage__nav_aboutUs{
    background-color: #04AA6D;
    color: white;
}

a.homePage__nav_team{
    background-color: #04AA6D;
    color: white;
}

a.homePage__nav_contacts{
    background-color: #04AA6D;
    color: white;
}






.homePage__nav_home{
    border: 1px solid rgb(0, 255, 191);
}
.homePage__nav_products{
    border: 1px solid rgb(0, 255, 191);
}

.homePage__nav_aboutUs{
    border: 1px solid rgb(0, 255, 191);
}

.homePage__nav_team{
    border: 1px solid rgb(0, 255, 191);
}

.homePage__nav_contacts{
    border: 1px solid rgb(0, 255, 191);
}
/*Navigation END*/





/*Slider*/
.homePage__main{
    border: 4px solid yellow;

}

.homePage__main_slider{
    border: 4px solid rgb(104, 104, 10);

}

/*Slider END*/



/*Footer*/
.homePage__footer{
    border: 4px solid purple;
    display: flex;
    justify-content: space-between;
    padding:4px;
}

.homePage__footer_proguct1{
    border: 2px solid rgb(233, 38, 233);
}
.homePage__footer_proguct2{
    border: 2px solid rgb(233, 38, 233);
}
.homePage__footer_proguct3{
    border: 2px solid rgb(233, 38, 233);
}
.homePage__footer_proguct4{
    border: 2px solid rgb(233, 38, 233);
}
.homePage__footer_proguct5{
    border: 2px solid rgb(233, 38, 233);
}


